SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
REFRESH_TOKEN_MAX_LIFETIME_DAYS=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

REDIS_URL=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_RESERVE_MODEL=